.rocket-container {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.rocket {
  position: absolute;
  font-size: 80px;
  animation: fly-diagonal 4s ease-in-out infinite alternate;
}

@keyframes fly-diagonal {
  0% {
    left: 0%;
    top: 80%;
    transform: rotate(-45deg);
  }
  100% {
    left: 80%;
    top: 0%;
    transform: rotate(45deg);
  }
}
